body.articles > .container {
  margin: 60px auto;
  .provinces {
    ul {
      list-style-type: none;
      li {
        float: left;
        width: 80px;
      }
    }
  }
  .sub-nav {
    margin-top: 10px;
    ul {
      list-style-type: none;
      li {
        float: left;
        margin-left: 10px;
        form {
          margin: 0px;
        }
      }
    }
  }
  .articles-container {
    table {
      tr {
        td {
          border-top: none;
          display: inline-block;
          text-align: center;
          .image {
            img {
              width: 110px;
              height: 90px;
            }
          }
          .detail {
            max-height: 22px;
            overflow-y: hidden;
          }
        }
      }
    }
  }
  .article.span9 {
    form {
      .control-group { margin-bottom: 5px; }
      input[type=text], input[type=password], input[type=email], textarea { 
        width: 400px; 
      }
    }
  }
  .article-detail {
    .span9 {
      table {
        td {
          &:first-child {
            width: 90px;
            vertical-align: top;
          }
        }
      }
    }
  }
}