body {
  width: 100%;
  form {
    table {
      td {
        select {
          width: 70px;
        }
      }
    }
    .control-group {
      margin-bottom: 0px;
      label {
        float: left;
        min-width: 15%;
        text-align: right;
      }
      .controls {
        display: inline-block;
        margin-left: 14px;
        select {
          width: 120px;
          &.fixed-width { width: 220px; }
        }
        .radio {
          label { 
            min-width: 10%;
            text-align: center;
            margin: 0 10px;
          }
          input[type=radio] {
            margin-left: 0px;
          }
        }
        .checkbox {
          padding-left: 0px;
          label {
            text-align: left;
            min-width: 5%;
            margin-left: 2px;
          }
          input {
            margin-left: 0px;
          }
        }
      }
    }
  }
}