- unless current_user.blank?
  .navbar.navbar-inverse.navbar-fixed-top
    .navbar-inner
      .container
        %a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        = link_to t('title'), root_path, class: 'brand'
        .container.nav-collapse
          %ul.nav.pull-left
            = render 'admin/shared/menu_items'

          %ul.nav.pull-right
            %li= link_to t('actions.logout'), logout_path, method: :delete