- unless current_user.blank?
  .span3
    .well.sidebar-nav
      %h3= t('views.sidebar.title')
      %ul.nav.nav-list
        %li.nav-header= t('views.sidebar.title')
        = render 'admin/shared/menu_items'